
.selectedButton{
  background-color: royalblue;
  color: white;
  font-palette: light;
  border-color: dimgray;
}
.unselectedButton{
  background-color: white;
  color: dimgray;
  font-palette: dark;
  border-color: dimgray;
}