button{
  min-width: 120px;
  height: 200px;
  margin: 8px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 8px;
  font-size: 1.5em;
  cursor: pointer;
}
.selectedButton{
  background-color: royalblue;
  color: white;
  font-palette: light;
  border-color: dimgray;
}
.unselectedButton{
  background-color: white;
  color: dimgray;
  font-palette: dark;
  border-color: dimgray;
}